import React from 'react'; 
import PropTypes from 'prop-types'; 

export const {{pascalCase name}} = ({props}) => { 
    return (
<div>This is the {{pascalCase name}} component</div>
); };

{{pascalCase name}}.propTypes = { props: PropTypes.string.isRequired, };

{{pascalCase name}}.defaultProps = { };